@charset "utf-8";
/* CSS Document */
#wrapper{
	width:946px;
	margin:0 auto;
	border:solid #e9e9e9 1px;
	background:#f6fafd;
	padding:15px;
	overflow:hidden;
}
.salary-slip h1{
	font-size:18px;	
}
.salary-slip h2{
	font-size:14px;
	font-weight:normal;	
}
.salary-slip .heading{
	text-align:center;
	width:77%;
	float:left;
	color:#1d1d1d;
	font-weight:normal;
}
.salary-slip .heading p{
	font-size:12px;	
}
.salary-slip .logo{
	float:right;
	width:23%;
}
.sal-info, .sal-details, .loan-details, .net-sal{
	/*border-top:solid 1px #ccc;*/
	width:100%;	
}
/*.sal-info td, .sal-details td, */.sal-details th/*, .net-sal td*/{
	padding:8px; 	
}
.sal-info td, .sal-details td, .sal-details th, .net-sal td{
	padding:8px;
	color:#333333; font-size:12px; 	
}
.sal-info td.small{
	width:13%;
	font-weight:bold;
}
.sal-info td.long{
	width:20%	
}
.sal-details{
	text-align:center;	
}
.sal-details .desc{
	text-align:left;
	font-weight:bold;
	color:#3b5998;
	font-size:12px;	
}
.sal-details th{
	background:#3b5998;
	color:#fff;	
}

.total td{
    text-align: left;
    font-weight:bold;
	border-top:solid 1px #ccc;
	/*border-bottom:solid 1px #ccc;*/
}
.net-sal td 
{
	font-weight:bold;
	font-size:14px;
	color:#3b5998;	
}
.sub-desc{
	font-size:11px;
	float:right;
	padding:10px 0;
}
